carsalesdealers/*.csv                                                                                                                                                    
carsalesdealers/*.log                                                                                                                                                    
.scrapy                                                                                                                                                              
carsalesdealers/node_modules                                                                                                                                             
*.log
*.csv
carsalesdealers/*.CSV*
